body{
	background: rgb(244, 241, 238) url('../Background%20img.jpg') no-repeat fixed center;
	background-size:100%;
}
h1{
  font-weight: bold;
  font-family: Lato;
  text-align: center;
  font-size: 30px;
  color:linear-gradient(rgba(246, 39, 87, 0.96),rgba(187, 246, 39, 0.96));
}
.text{
  border-radius:5px;
  padding-top:20px;
  position:center;
  text-align:center;
  font-size:50px;
  font-weight:bold;
  right:36%;

  
}

#mySidenav a {
  left: -0px;
  position: absolute;
  transition: 0.3s;
  padding:15px;
  width:120px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}
#mySidenav a:hover {
  left: 0;
}

#about {
  top:40%;
  background-color:rgb(247, 134, 136);
}

#gallery{
  top: 50%;
  background-color:rgb(247, 134, 136);
}

#contact {
  top: 60%;
  background-color:rgb(247, 134, 136);
}
.fa {
  padding:15px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}
.fa:hover {
    opacity:0.9;
	
}

.fa-facebook {
  background: #3B5998;
  color: white;
  text:"Facebook";
}
.fa-instagram{
  background:rgba(239, 61, 88);
  color: white;
}
.fa-whatsapp{
	background:#a4c639;
  color: white;

}
.socail{
	position:fixed;
	left: 0;
	bottom:10%;
	width: 100%;
	color: white;
	text-align: center;
}
